nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid black;
    width: 200px;
    padding: 0;
    margin-right: 10px;
    background-color: #cc0000;
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: red;
}